@import url("https://fonts.googleapis.com/css?family=Italiana|Nanum+Gothic:400,700");
/*Color Variables*/
/************** Universal Styles **************/
html {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 320px;
  background-color: #3C2E3D;
}

ul {
  padding: 0;
}

h1, h2, h3 {
  font-family: "Italiana", serif;
  margin: 0;
}

h4 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1;
  padding-bottom: 1.25rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
  padding-bottom: 1rem;
  color: #3C2E3D;
}

h3 {
  font-size: 1.5rem;
  line-height: 1;
  padding: 1rem 0;
  margin: 0;
  color: #3C2E3D;
}

h4 {
  font-size: 1rem;
  margin: 0;
  font-style: italic;
  color: #3C2E3D;
}

p {
  margin: 0;
}

/* heading sizes for screens above 768px */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 6rem;
  }
}
.image-container {
  overflow: hidden;
}
.image-container img {
  display: block;
  max-width: 100%;
}

.btn-main {
  padding: 1rem 0;
}

.button {
  display: inline-block;
  font-size: 0.75rem;
  border: 2px solid #3C2E3D;
  color: #3C2E3D;
  padding: 0.75rem 1.6rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #3C2E3D;
  color: white;
  transition: all 0.75s ease-in-out 0s;
  -webkit-transition: all 0.75s ease-in-out 0s;
  text-decoration: none;
}

/************** Navigation menu **************/
.navBar {
  background-color: #F4E7D7;
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100%;
  height: 50px;
  border-bottom: solid 1px #3C2E3D;
}
.navBar .wrapper {
  display: flex;
  margin: 0 auto;
}
.navBar .logo {
  display: flex;
  padding: 0.375rem 0 0 2.1875rem;
}
.navBar .logo a {
  display: block;
}
.navBar .logo img {
  width: 15rem;
}
.navBar ul {
  margin: 0;
  margin-right: 2.1875rem;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.navBar ul li {
  display: block;
  padding: 20px;
}
.navBar a {
  color: #3C2E3D;
  text-decoration: none;
  transition: all 0.5s ease;
}
.navBar a:hover, .navBar a:focus {
  color: #FDAE84;
  text-decoration: underline;
}

#menu-toggle {
  display: none;
}

.label-toggle {
  display: none;
}

/* Navigation menu for screens below 768px wide */
@media screen and (max-width: 768px) {
  nav ul {
    background-color: #F4E7D7;
    position: relative;
    top: 2px;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    padding: 0;
    visibility: hidden;
  }
  nav ul:last-child {
    border-bottom: 2px solid #3C2E3D;
  }

  #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100%;
    visibility: visible;
    flex-direction: column;
  }

  .label-toggle {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 35px;
    margin-top: 1em;
    width: 35px;
  }

  .wrapper {
    flex-direction: column;
  }
}
/************** main content **************/
/* main tag styling to avoid hiding headings under nav menu */
main :target::before {
  content: "";
  display: block;
  height: 50px;
  /* fixed header height*/
  margin: -50px 0 0;
  /* negative fixed header height */
}

#about, #work, #contact {
  padding: 1.5rem;
  border-radius: 15px;
  margin: 1rem;
}

@media only screen and (min-width: 768px) {
  #about, #work, #contact {
    padding: 2.2rem;
  }
}
/************** banner section **************/
#banner {
  height: 100vh;
  background: url("../images/amazing-animals-avian-1921336.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.headline-text {
  text-align: center;
  color: #F8F8F5;
}

@media only screen and (min-width: 768px) {
  #banner {
    padding: 2.2rem;
  }
}
/************** about section **************/
#about {
  height: 100vh;
  background-color: #FDAE84;
}
#about h3 {
  padding-top: 2rem;
}

/************** work section **************/
#work {
  background-color: #ECC7C0;
}
#work .works-container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}
#work .works-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#work .works-row a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}
#work .works-column {
  margin: 1rem;
}

.works-overlay {
  display: block;
  width: 100%;
  text-align: center;
}
.works-overlay h3 {
  padding-bottom: 0.4rem;
}
.works-overlay p {
  color: #3C2E3D;
  font-style: italic;
}

@media only screen and (min-width: 700px) {
  .works-row a {
    width: 50%;
  }
  .works-row a:focus {
    text-decoration: underline;
  }
}
/************** works project pages **************/
.project-text, .project-images {
  padding: 1.5rem;
  border-radius: 15px;
  margin: 1rem;
}

@media only screen and (min-width: 768px) {
  .project-text, .project-images {
    padding: 2.2rem;
  }
}
.head-image {
  height: 20rem;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.head-image.hangman {
  background: url("../images/hangman_terminal_app.png");
}
.head-image.css_zen {
  background: url("../images/css_zen_home.png");
}

.project-text {
  background-color: #DAE9E4;
}
.project-text ul {
  padding-left: 1.5rem;
  line-height: 1.5;
  margin: 0;
}

.project-images {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #ECC7C0;
}
.project-images .image-container {
  display: block;
  margin: 0 auto;
  padding: 0.75rem 0;
}

@media only screen and (min-width: 768px) {
  .project-text h2 {
    font-size: 4rem;
  }

  .text-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
  .text-container .text-left {
    width: 60%;
  }
  .text-container .text-right {
    width: 40%;
  }

  .project-images .image-container {
    width: 48%;
    justify-content: space-between;
  }
}
/************** contact section **************/
#contact {
  background-color: #8BCBC8;
}
#contact ul {
  list-style-type: none;
}

/************** footer styling **************/
footer {
  padding: 1rem 0;
}
footer p {
  color: #F8F8F5;
  text-align: center;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer ul li {
  display: block;
  padding: 0 1rem;
  list-style-type: none;
}
footer .social li a {
  color: #F8F8F5;
}
footer .social li a:hover, footer .social li a:focus {
  color: #FDAE84;
  transition: all 0.5s ease;
}

/*# sourceMappingURL=main.css.map */
