@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Unna:400i,700');

/*Color Variables*/
$white: #fff;
$cream: #f4e7d7;
$pale-blue: #a1bbd0;
$peach: #e2b49a;
$grey: #878c8f;
$navy: #193446;

/************** Universal Styles **************/
html {
    font-family: 'Source Sans Pro', Verdana, sans-serif;
    font-size: 16px;
  }

body {
    width: 100%;
    min-width: 320px;
    background-color: $cream;
}

ul {
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Unna', serif;
    font-weight: 700;
    margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1;
  padding-bottom: 1.25rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
  padding-bottom: 1rem;
  color: $navy;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.8;
    margin: 0;
    color: $navy;
}

h4 {
    font-size: 1rem;
    margin: 0;
    font-style: italic;
    color: $navy;
}

/* heading sizes for screens above 768px */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 6rem;
    }
}


.image-container {
    overflow: hidden;
  
    img {
        display: block;
        max-width: 100%;
    }
}

.button {
    width: 30%;
    font-size: 0.75rem;
    border: 1px solid $grey;
    color: black;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: $pale-blue;
        color: white;
        border: 1px solid $pale-blue;
        transition: all 750ms;
        -webkit-transition: all 750ms;
    }
}



/************** Navigation menu **************/
.navBar {
    background-color: $cream;
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px $grey;

    .wrapper {
        display: flex;
        margin: 0 auto;
    }

    .logo {
        display: flex;
        padding: 0.375rem 0 0 2.1875rem;
    }
    .logo a {
        display: block;
    }

    .logo img {
        width: 15rem;
    }

    ul {
        margin: 0;
        margin-left: auto;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;

        li {
            display: block;
            padding: 20px;
        }
    }

    a {
        color: $navy;
        text-decoration: none;
        transition: all .5s ease;

        &:hover {
            color: $peach;
        }
    }
}

#menu-toggle {
    display: none;
}

.label-toggle {
    display: none;
}

/* Navigation menu for screens up to 768px wide */
@media screen and (max-width: 768px) {
    nav {
      ul {
        background-color: $cream;
        position: relative;
        top: 2px;
        list-style-type: none;
        opacity: 0;
        text-align: center;
        transition: all 1s ease;
        width: 100%;
        padding: 0;
        visibility: hidden;

        &:last-child {
            border-bottom: 2px solid $navy;
          }

        a {
          color: $navy;
          
          &:hover {
              background-color: $pale-blue;
          }
        }
      }
    }
  
    #menu-toggle:checked ~ ul {
      opacity: 1;
      height: 100%;
      visibility: visible;
      flex-direction: column;
    }
    
    .label-toggle {
      cursor: pointer;
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      height: 35px;
      margin-top: 1em;
      width: 35px;
    }
    
    .wrapper {
        flex-direction: column;
    }
}

/************** main content **************/

/* main tag styling to avoid hiding headings under nav menu */
main {
    :target::before {
        content: "";
        display: block;
        height: 50px; /* fixed header height*/
        margin: -50px 0 0; /* negative fixed header height */
      }
}

#about, #work, #contact {
    padding: 1.5rem;
}

@media only screen and (min-width: 768px) {
    #about, #work, #contact {
        padding: 2.2rem;
    }
}

/************** banner section **************/
#banner {
    height: 100vh;
    background: url("../images/amazing-animals-avian-1921336.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline-text {
    text-align: center;
    color: $white;
}

/************** about section **************/
#about {
    height: 100vh;
}

/************** work section **************/
#work {

    .works-row {
        display: flex;
        display: -ms-flexbox; /* IE10 */
        flex-wrap: wrap;
        -ms-flex-wrap: wrap; /* IE10 */
        padding: 0 4px;
    }

    .works-column {
        position: relative;
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;

        a {
            display: block;
        }
        // .image-container {
        //     display: block;
        //     width: 100%;
        //     height: auto;
        // }

        // .works-overlay {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     height: 100%;
        //     background: $navy;
        //     background: #1934467b; /* Black see-through */
        //     color: $cream; 
        //     width: 100%;
        //     transition: .5s ease;
        //     opacity:0;
        //     color: $white;
        //     text-align: center;
        // }

        // &:hover .works-overlay {
        //     opacity: 1;
        // }
    }

}

@media only screen and (min-width: 768px) {
    .works-column {
        flex: 50%;
        max-width: 50%;
    }
}

/****** works project pages *******/
.head-image {
    
    &.hangman {
        background: url("../images/hangman_terminal_app.png");
    }

    &.css_zen {
        background: url("../images/css_zen_home.png");
    }
    
    height: 20rem;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/************** contact section **************/
#contact {
    // height: 100vh;
}

/************** footer styling **************/
footer {
    background-color: $navy;
    padding: 1rem 0;

    p {
        color: $white;
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
    }

    ul li {
        display: block;
        padding: 0 1rem;
        list-style-type: none;
    }

    .social li a {
        color: $white;

        &:hover {
            color: $pale-blue;
        }
    }
}