@import url('https://fonts.googleapis.com/css?family=Italiana|Raleway:400,700');

/*Color Variables*/
$white: #F8F8F5;
$cream: #F4E7D7;
$icing: #DAE9E4;
$bora-blue: #8BCBC8;
$melon: #FDAE84;
$sakura: #ECC7C0;
$cranberry: #3C2E3D;

/************** Universal Styles **************/
html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
  }

body {
    width: 100%;
    min-width: 320px;
    background-color: $cranberry;
    padding-top: 50px;
}

ul {
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Italiana', serif;
    margin: 0;
}

h4 {
    font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.1;
  padding-bottom: 1.25rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
  padding-bottom: 1rem;
  color: $cranberry;
}

h3 {
    font-size: 1.5rem;
    line-height: 1;
    padding: 1rem 0;
    margin: 0;
    color: $cranberry;
}

h4 {
    font-size: 1rem;
    margin: 0;
    font-style: italic;
    color: $cranberry;
}

p {
    margin: 0;
    padding-bottom: 1rem;
    line-height: 1.5;
}

/* heading sizes for screens above 768px */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 4rem;
    }
}


.image-container {
    overflow: hidden;
  
    img {
        display: block;
        max-width: 100%;
    }
}

.btn-main {
    padding: 1rem 0;
}

.button {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 600;
    border: 2px solid $cranberry;
    color: $cranberry;
    padding: 0.75rem 1.6rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &:hover, &:focus {
        background-color: $cranberry;
        color: white;
        transition: all 0.75s ease-in-out 0s;
        -webkit-transition: all 0.75s ease-in-out 0s;
        text-decoration: none;
    }
}



/************** Navigation menu **************/
.navBar {
    background-color: $cream;
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px $cranberry;

    .wrapper {
        display: flex;
        margin: 0 auto;
    }

    .logo {
        display: flex;
        padding: 0.375rem 0 0 2.1875rem;
    }
    .logo a {
        display: block;
    }

    .logo img {
        width: 15rem;
    }

    ul {
        margin: 0;
        margin-right: 2.1875rem;
        margin-left: auto;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;

        li {
            display: block;
            padding: 20px;
        }
    }

    a {
        color: $cranberry;
        text-decoration: none;
        transition: all .5s ease;

        &:hover, &:focus {
            color: $melon;
            text-decoration: underline;
        }
    }
}

#menu-toggle {
    display: none;
}

.label-toggle {
    display: none;
}

/* Navigation menu for screens below 768px wide */
@media screen and (max-width: 768px) {
    nav {
        ul {
            background-color: $cream;
            position: relative;
            top: 2px;
            list-style-type: none;
            opacity: 0;
            text-align: center;
            transition: all 1s ease;
            width: 100%;
            padding: 0;
            visibility: hidden;

            &:last-child {
                border-bottom: 2px solid $cranberry;
            }
        }
    }
  
    #menu-toggle:checked ~ ul {
        opacity: 1;
        height: 100%;
        visibility: visible;
        flex-direction: column;
    }
    
    .label-toggle {
        cursor: pointer;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 35px;
        margin-top: 1em;
        width: 35px;
    }
    
    .wrapper {
        flex-direction: column;
    }
}

/************** main content **************/

#about, #work, #contact {
    padding: 1.5rem;
    border-radius: 15px;
    margin: 1rem;

    h2 {
        margin-top: 51px; /* padding to avoid hiding headings under nav menu */
    }
}

/* section styling on screens more than 768px wide */
@media only screen and (min-width: 768px) {
    #about, #work, #contact {
        padding: 2.2rem;
    }
}

/************** banner section **************/
#banner {
    height: 100vh;
    background: url("../images/amazing-animals-avian-1921336.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.headline-text {
    text-align: center;
    color: $white;

    p {
        padding-bottom: 1rem;
    }
}

/* banner styles on screens more than 768px wide */
@media only screen and (min-width: 768px) {
    #banner {
        padding: 2.2rem;
    }
}

/************** about section **************/
#about {
    height: 100%;
    background-color: $melon;

    h3 {
        padding-top: 2rem;
    }
}

.about-intro {
    
    a {
        color: $cranberry;
        text-decoration: none;
        font-weight: 700;
    
        &:hover {
            text-decoration: underline;
        }
    }

    .image-container {
        width: 50%;
    }
}

.history-text {
    
    table {
        width: 100%;
    }
    
    thead {
        display: none;
    }
    tr, td {
        vertical-align: top;
        height: 4rem;
    }

    td {
        line-height: 1.5;
    }

    .study-info {
        padding: 0 0 .5rem 2rem;
    }

    .date {
        font-weight: 600;
        width: 7rem;
    }

    .school {
        font-weight: 600;
        text-transform: uppercase;
    }
}

/* about styles on screens more than 800px wide */
@media only screen and (min-width: 800px) {
    #about {
        h3 {
            padding-top: 0;
        }
    }
    
    .about-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about-intro {
        width: 45%;
    }

    .history-text {
        width: 50%;
    }
}


/************** work section **************/
#work {
    background-color: $sakura;

    .works-container {
        margin: 0 auto;
        max-width: 100%;
        padding: 0 1rem;
    }
    .works-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        a {
            display: block;
            margin: 0 auto;
            text-decoration: none;
        }
    }

    .works-column {
        padding: 1rem;
        transition: all 0.75s ease-in-out 0s;
        -webkit-transition: all 0.75s ease-in-out 0s;
        color: #000;

        &:hover {
            cursor: pointer;
            background-color: $cream;
            transition: all 0.75s ease-in-out 0s;
            -webkit-transition: all 0.75s ease-in-out 0s;
            color: #000;
            text-decoration: underline;
        }

        &:hover .image-container {
            filter: grayscale(100%);
            transition: all 0.75s ease-in-out 0s;
            -webkit-transition: all 0.75s ease-in-out 0s;
        }
    }
}

.works-overlay {
    display: block;
    width: 100%;
    text-align: center;

    h3 {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        padding-bottom: 0.4rem;
    }
    
    p {
        color: $cranberry;
        font-style: italic;
    }
}

/* work styles on screens more than 700px wide */
@media only screen and (min-width: 700px) {
    .works-row a{
        width: 50%;

        &:focus {
            text-decoration: underline;
        }
    }
}

/************** works project pages **************/

.project-text, .project-images {
    padding: 1.5rem;
    border-radius: 15px;
    margin: 1rem;
}

/* project padding on screens more than 768px wide */
@media only screen and (min-width: 768px) {
    .project-text, .project-images {
        padding: 2.2rem;
    }
}

.project-text {
    background-color: $icing;

    ul {
        padding-left: 1.5rem;
        line-height: 1.5;
        margin: 0;
    }
}

.project-images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: $sakura;

    .image-container {
        display: block;
        margin: 0 auto;
        padding: 0.75rem 0;
    }
}

/* project styles on screens more than 768px wide */
@media only screen and (min-width: 768px) {
    .project-text {
        h2 {
            font-size: 4rem;
        }

        h3 {
            padding-top: 0;
        }
    }
    .text-container {
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;

        .text-left {
            width: 55%;
        }

        .text-right {
            width: 35%;
        }
    }
    .project-images {
        .image-container {
            width: 48%;
            justify-content: space-between; 
        }
    }
}

/************** contact section **************/
#contact {
    background-color: $bora-blue;

    ul {
        list-style-type: none;
    }
}

/************** footer styling **************/
footer {
    padding: 1rem 0;

    p {
        color: $white;
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
    }

    ul li {
        display: block;
        padding: 0 1rem;
        list-style-type: none;
    }

    .social li a {
        font-size: 1.5rem;
        color: $white;

        &:hover, &:focus {
            color: $melon;
            transition: all .5s ease;
        }
    }
}