@import url("https://fonts.googleapis.com/css?family=Italiana|Nanum+Gothic:400,700");
/*Color Variables*/
/************** Universal Styles **************/
html {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 320px;
  background-color: #f4e7d7;
}

ul {
  padding: 0;
}

h1, h2, h3 {
  font-family: "Italiana", serif;
  margin: 0;
}

h4 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1;
  padding-bottom: 1.25rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
  padding-bottom: 1rem;
  color: #193446;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 0;
  color: #193446;
}

h4 {
  font-size: 1rem;
  margin: 0;
  font-style: italic;
  color: #193446;
}

p {
  margin: 0;
}

/* heading sizes for screens above 768px */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 6rem;
  }
}
.image-container {
  overflow: hidden;
}
.image-container img {
  display: block;
  max-width: 100%;
}

.btn-main {
  padding: 1rem 0;
}

.button {
  width: 30%;
  font-size: 0.75rem;
  border: 2px solid #193446;
  color: #193446;
  padding: 0.75rem 1.6rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background-color: #193446;
  color: white;
  border-bottom: 2px solid #a1bbd0;
  transition: all 750ms;
  -webkit-transition: all 750ms;
}

/************** Navigation menu **************/
.navBar {
  background-color: #f4e7d7;
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100%;
  height: 50px;
  border-bottom: solid 1px #878c8f;
}
.navBar .wrapper {
  display: flex;
  margin: 0 auto;
}
.navBar .logo {
  display: flex;
  padding: 0.375rem 0 0 2.1875rem;
}
.navBar .logo a {
  display: block;
}
.navBar .logo img {
  width: 15rem;
}
.navBar ul {
  margin: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.navBar ul li {
  display: block;
  padding: 20px;
}
.navBar a {
  color: #193446;
  text-decoration: none;
  transition: all 0.5s ease;
}
.navBar a:hover {
  color: #e2b49a;
}

#menu-toggle {
  display: none;
}

.label-toggle {
  display: none;
}

/* Navigation menu for screens up to 768px wide */
@media screen and (max-width: 768px) {
  nav ul {
    background-color: #f4e7d7;
    position: relative;
    top: 2px;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    padding: 0;
    visibility: hidden;
  }
  nav ul:last-child {
    border-bottom: 2px solid #193446;
  }
  nav ul a {
    color: #193446;
  }
  nav ul a:hover {
    background-color: #a1bbd0;
  }

  #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100%;
    visibility: visible;
    flex-direction: column;
  }

  .label-toggle {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 35px;
    margin-top: 1em;
    width: 35px;
  }

  .wrapper {
    flex-direction: column;
  }
}
/************** main content **************/
/* main tag styling to avoid hiding headings under nav menu */
main :target::before {
  content: "";
  display: block;
  height: 50px;
  /* fixed header height*/
  margin: -50px 0 0;
  /* negative fixed header height */
}

#about, #work, #contact {
  padding: 1.5rem;
}

@media only screen and (min-width: 768px) {
  #about, #work, #contact {
    padding: 2.2rem;
  }
}
/************** banner section **************/
#banner {
  height: 100vh;
  background: url("../images/amazing-animals-avian-1921336.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline-text {
  text-align: center;
  color: #f8f8f5;
}

/************** about section **************/
#about {
  height: 100vh;
}

/************** work section **************/
#work {
  background-color: #a1bbd0;
}
#work .works-container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}
#work .works-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#work .works-row a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}
#work .works-column {
  margin: 1rem;
}

.works-overlay {
  display: block;
  width: 100%;
}
.works-overlay p {
  color: #193446;
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .works-row a {
    width: 50%;
  }
}
/************** works project pages **************/
.project-text, .project-images {
  padding: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .project-text, .project-images {
    padding: 2.2rem;
  }
}
.head-image {
  height: 20rem;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.head-image.hangman {
  background: url("../images/hangman_terminal_app.png");
}
.head-image.css_zen {
  background: url("../images/css_zen_home.png");
}

.project-text ul {
  padding-left: 1.5rem;
}

.project-images {
  display: flex;
  flex-wrap: wrap;
}
.project-images .image-container {
  flex: 100%;
  max-width: 100%;
  padding: 0.25rem;
}

/************** contact section **************/
/************** footer styling **************/
footer {
  background-color: #193446;
  padding: 1rem 0;
}
footer p {
  color: #f8f8f5;
  text-align: center;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer ul li {
  display: block;
  padding: 0 1rem;
  list-style-type: none;
}
footer .social li a {
  color: #f8f8f5;
}
footer .social li a:hover {
  color: #a1bbd0;
}

/*# sourceMappingURL=main.css.map */
